/* DEMO FONTS */

#demo-1 { font-family: 'Raleway', sans-serif; }
#demo-2 { font-family: 'Lato', sans-serif; }
#demo-3 { font-family: 'Merriweather', sans-serif; }
#demo-4 { font-family: 'Droid Sans', sans-serif; }
#demo-5 { font-family: 'Ubuntu', sans-serif; }
#demo-6 { font-family: 'Oxygen', sans-serif; }
#demo-7 { font-family: 'Lora', sans-serif; }
#demo-8 { font-family: 'Open Sans', sans-serif; }
#demo-9 { font-family: 'Exo', sans-serif; }
#demo-10 { font-family: 'Montserrat', sans-serif; }
#demo-11 { font-family: 'Yanone Kaffeesatz', sans-serif; }
#demo-12 { font-family: 'Playfair Display', serif; }